table {
    border-collapse: collapse;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
}

.modal input,
select {
    width: 100%;
}

.h-screen2 {
    height: 60vh;
}

.deals-grid {
    width: 100%;
    overflow-x: auto;
    z-index: 200;
}

.btn {
    border: 1px solid #2f80ed;
    border-radius: 3px;
    text-align: center;
    background-color: #fff;
    padding: 10px 12px;
    color: #2f80ed;
    max-width: 100px;
    font-size: 12px;
    font-weight: 600;
}

.button-box {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
}
button {
    outline-style: none;
    border: 1px solid;
}

button:hover {
    cursor: pointer;
}

.homeCard {
    min-width: 187px;
    min-height: 141px;
    border: 1px solid #a1a1a1;
    margin: 25px;
    border-radius: 5px;
}

.homeCard:hover {
    background-color: #f7fffc;
    cursor: pointer;
}

#loader {
    display: block;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 70px;
    width: 100px;
    height: 100px;
}

#role {
    display: none;
}

.box-xs {
  box-shadow:  0px 1px 44px rgba(64, 64, 64, 0.12);
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
  top: 190px;
  left: 260px;
}

.mar {
  margin-left: 550px;
}

@media only screen and (max-width:1024px) {
  .relative{
    position: unset;
  }
  .mar{
    margin-left: initial;
  }

  .absolute {
    position: unset;
  }
}

@media only screen and (max-width:600px) {
  .box-xs {
    box-shadow: none;
  }
}
@media only screen and (max-width: 600px) {
    #role {
        display: block;
    }
}

input[type="checkbox"]:checked {
    background: #00b87c !important;
    color: white;
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: lightgray;
    height: 16px;
    width: 16px;
    border: 1px solid white;
    color: white;
}

input[type="checkbox"]:after {
    color: white;
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    /* content: " "; */
    /* transform: rotate(50deg); */
    display: none;
}
input[type="checkbox"]:checked:after {
    display: block;
}
