table{
  border-collapse: collapse;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal input, select {
  width: 100%;
}


.btn {
  border: 1px solid #2F80ED;
  border-radius: 3px;
  text-align: center;
  background-color: #fff;
  padding: 10px 12px;
  color: #2F80ED;
  max-width: 100px;
  font-size: 12px;
  font-weight: 600;
}


.button-box {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5vh;
}
button{
  outline-style: none;
  border:1px solid;
}

button:hover{
  cursor: pointer;
}

input, select{
  outline-style: none;
  border: 1px solid #1a1a1a;
}

.homeCard{
  min-width:187px;
   min-height:141px;
   border: 1px solid #a1a1a1;
   margin: 20px;
  border-radius: 5px;
}

.homeCard:hover{
  background-color: #F7FFFC;
  cursor:pointer;
}

#loader{
  display:block;
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 70px;
  width:100px;
  height:100px;
}

#role{
  display: none;
}

@media only screen and (max-width: 600px) {

  #role{
    display: block;
  }
}

