**/.vscode/
.env
".DS_Store"
venv
__pycache__
prospectapp/__pycache__
"prospect/migrations/__pycache__/"
"propectapp/sidebar/__pycache__/"
"deals/migrations/__pycache__/"
venv/
"db.sqlite3"
venv
duovenv/
env
Pipenv.lock
