**/.vscode/
*.pyc
*.chunk.js*
.env
env
.DS_Store
**/__pycache__/
venv/
bin/
include/
lib/
*.cfg
salesvenv/
db.sqlite3
duovenv/
env/
Pipfile*
/node_modules
node_modules/
dist
openapi.yaml

/backend/build/root/*
!/backend/build/root/root.txt

/backend/build/main/*
!/backend/build/main/main.txt

# /backend/static/*
